.anchor-style{
    text-decoration: none;
    color: #ced4da;
}
.p-style{
    font-size: 16px;
    font-weight: 400;
    color: $subColor;
    line-height: 1.4;
}
.span-style{
    display:block;
    width: 50px;
    height: 2px;
    background-color: $mainColor;
    margin: 20px auto;
}
.button-style{
    padding: 10px 20px;
    background-color: $mainColor;
    color: $subColor;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    margin-top: 44px;
    text-transform: uppercase;
    @include transation;
    &:hover{
        background-color: $subColor;
        color: $mainColor;
        transform: scale(1.5);
        cursor: pointer;
    }
}
.h2{
    font-size: 32px;
    font-weight: 700;
    text-transform: capitalize;
}