@include X-small{
    .hero{
        .overlay{
            .container{
                .nav-bar{
                    display: block;
                    text-align: center;
                    .logo{
                        a{
                            color: #fff;
                        }
                    }
                    ul{
                        display: block;
                    }
                }
                .hero-text{
                    width: 300px;
                    top:60%;
                    transform: translate(-50%,-60%);
                    h1{
                        font-size: 32px;
                    }
                    p{
                        font-size: 14px;
                    }
                    button{
                        font-size: 12px;
                        &:hover{
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
    }
}